/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0px;
   background-color: #ffaC8b;
   font-family: 'Merriweather Sans', sans-serif;
 }

 .box{
   display: flex;
 }

 header{ order: 1;
 }

 .aside{
   max-height: auto;
   width: 200px;
   background-color: #ffd9ca;
   order: 3;
 }

img {
  width: 300px;
  height: 300px;
}

nav {
  order: 2;
  height: 80px;
  background-color: #ff8656;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
    color:#ffffff;

}
a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: ;
}

footer {
  order: 4;
  height: 160px;
  max-width: auto;
  background-color: #ff5d1d;
}

.box-edit, .box-new, .box-show, .box-comment{
  display: flex;
  height: 600px;

}

.section-edit, .section-new, .section-show, .section-show2{
  align-items: center;
  margin: auto;
}

.section-comment{
  margin-left: 50px;
}

.sign-up{
  color:#ff5d1d;
}

h1 {
  color:#ffd9ca;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  margin-left: 20px;
}

h2, h3, p, a{
  color:#ffffff;
}
