/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0px;
   background-color: #ffaC8b;
 }

 .box{
   display: flex;
 }
 header{ order: 1;
 }

 nav{ order: 2;
 }

 .aside{ max-height: auto;
          width: 200px;
   background-color: #ffd9ca;
   order: 3;}

img {
  width: 300px;
  height: 300px;
}

nav {

  height: 80px;
  background-color: #ff8656;
  margin: 0px;
}

footer {
  order: 4;
  height: 160px;
  max-width: auto;
  background-color: #ff5d1d;
}
