<!DOCTYPE html>
<html>
  <header>
  </header>

  <head>
  <h1>Welcome to Jeffrey's Mom Page</h2>
  </head>

  <nav>
  <%= link_to 'My Blog', articles_path %> <%= link_to 'Post a Review', new_article_path %>
  </nav>
<section>
<h2><%= 'Black Friday Listings' %></h2>

</section>
<article>
</article>
<aside>
</aside>
<footer>
</footer>
</html>
